
$base-color : #ffffff;
$primary-color : #353535;
$second-color : #9747FF;
$third-color : #008766;
$font-stack: "Roboto", sans-serif;


body {
    margin: 0px;
    font-family: $font-stack;
}

h1 {
font-size: 18px;
}

h2 {
font-size: 18px;
}

h3 {
font-size: 18px;
}

p {
font-size: 18px;
}