.ville_fond_ecran {
  width: 100%;
  height: 50px;
  border: solid 2px $fourth-color;
  margin-bottom: 45px $fourth-color(0.1);
  margin-right: 15px;
  background-color: lighten($fourth-color, 40%);
}

.boutton{
  width: 218px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
}

.border_fonctionnement {
  border: #d9d9d9 solid 2px;
  border-radius: 25px 25px 25px 25px;
  width: 85%;
  height: 60px;
}


.cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $second-color;
  color: $base-color;
  text-align: center;
}

.restaurant {
  background-color: $fourth-color (0, 3);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}

.carte {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0px 0px;
  background-color: $base-color;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}



.carte img {
  object-fit: cover;
  height: 150px;
}

.carte .carte-contenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
}
