* {
  margin: 0px;
}

.fond_site {
  background-color: #f6f6f6;
}

a {
  color: #000000;
}

.ville_fond_ecran {
  margin-bottom: 45px;
  background-color: #e4e4e4;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.2);
}

.border_carte_menu,
.border_carte_fonctionnent,
.ville_fond_ecran,
.boutton {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.fond_fonctionnement,
.bande_blanche {
  background-color: #ffffff;
}

.icon_color {
  color: #7e7e7e;
}

.boutton_color {
  background: linear-gradient(to bottom, #ff79da, #9747ff);
  color: #ffffff;
}

.cercle {
  background-color: #9747ff;
  color: #ffffff;
}

.fond_restaurants {
  background-color: #f6f6f6;
}

.carte {
  background-color: #ffffff;
  color: #000000;
}

.news {
  background-color: #99e2d0;
  color: #008766;
}

ul,
.color_footer,
.ancre {
  color: #ffffff;
}

footer {
  background-color: #353535;
}

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.ancre {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

.footer_logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 19px;
}

h1.titre {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
  font-weight: 100;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
  font-weight: 400;
}

.boutton {
  width: 218px;
  height: 50px;
  border-radius: 30px;
  border: none;
  text-align: center;
}

.cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ville_fond_ecran {
  width: 100%;
  height: 50px;
  margin: 0px 15px 38px 0px;
}

.marge_ville {
  display: flex;
  margin: 15px 15px 0px 0px;
}

.marge_titre {
  display: flex;
  margin-left: 1px;
  text-align: center;
}

.marge_soustitre {
  margin: 25px 0px 0px 0px;
  text-align: center;
}

.boutton {
  margin-top: 35px;
}

.marge_fonctionnement {
  display: flex;
  margin: 50px 0px 0px 10px;
  padding-top: 50px;
}

.marge_carte_fonctionnement {
  display: flex;
  margin: 20px 20px 61px 20px;
  gap: 20px;
}

.cercle {
  margin: 0px 20px 0px -10px;
}

.icon_color {
  margin: 0px 20px 0px 0px;
}

.marge_restaurants {
  margin: 15px;
}

.marge_titre_restaurants {
  margin-left: 10px;
}

.carte-contenu {
  margin-left: 15px;
  gap: 3px;
}

.favoris,
.favoris1,
.favoris2,
.favoris3 {
  position: relative;
  top: -75px;
  padding: 5px;
  margin-left: 230px;
}

.favoris {
  bottom: 0px;
}

.favoris1 {
  bottom: 0%;
}

.favoris2 {
  bottom: 0%;
}

.favoris3 {
  bottom: 0%;
}

.bande_blanche {
  position: relative;
  height: 32px;
  width: 100%;
  top: -32px;
  border-radius: 30px 30px 0px 0px;
}

.titre {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 200;
}

.espace_titre_coeur {
  margin: 1px 25px;
}

.coeur_taille {
  font-size: 130%;
}

.fond_menus {
  border-radius: 20px 20px;
}

.souligner_titre_menu {
  border-bottom: 1px solid #99e2d0;
  width: 12%;
}

.marge_menu_carte {
  margin: -30px 15px 0px 15px;
}

.espace_text_prix {
  margin: 0px auto 5px 4%;
}

.marge_prix_d {
  margin-right: 15px;
}

.footer_logo {
  margin: 15px 0px 0px 20px;
}

.alignement_ul {
  margin-right: 0px;
  padding: 12px;
}

li {
  padding: 2px;
}

.ecart_img1_text_footer {
  margin-right: 12px;
}

.ecart_img2_text_footer {
  margin-right: 6px;
}

.marge_footer {
  padding: 5px;
}

.taille_logo {
  margin: 25px 0px 12px 0px;
}

.taille_fleche {
  margin: 30px -30px -10px 15px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2s;
}

.carte img,
.image_menu {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
}

.fa-heart {
  font-size: 140%;
}

.taille_fleche {
  font-size: 150%;
}

.image_menu {
  position: relative;
  width: 100%;
  height: 275px;
}

.restaurant {
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}

.carte {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte .carte-contenu {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.news {
  position: absolute;
  top: 13px;
  right: 12px;
  padding: 5px;
}

.border_carte_fonctionnent {
  border-radius: 25px 25px 25px 25px;
  width: 100%;
  height: 50px;
  padding-top: 30px;
}

.border_carte_menu {
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.ligne {
  display: flex;
  flex-direction: row;
}

.centrer {
  display: flex;
  justify-content: center;
}

.colonne {
  display: flex;
  flex-direction: column;
}

.espace_entre {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.fond {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.bottom_40 {
  margin-bottom: 40px;
}

.botton_30 {
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 767.99px) {
  .taille_logo {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */