* {
  margin: 0px;
  text-decoration: none;
}

a {
  color: #000000;
}

.ville_fond_ecran {
  margin-bottom: 45px;
  background-color: #e4e4e4;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.2);
}

.border_fonctionnement,
.ville_fond_ecran {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.icon_color {
  color: #7e7e7e;
}

.boutton_color {
  background: linear-gradient(to bottom, #ff79da, #9747ff);
}

.cercle {
  background-color: #9747ff;
  color: #ffffff;
}

.restaurant {
  background-color: #7e7e7e 0, 3;
}

.carte {
  background-color: #ffffff;
  color: #000000;
}

.news {
  background-color: #99e2d0;
  color: #008766;
}

ul,
.color_footer,
.ancre {
  color: #ffffff;
}

footer {
  background-color: #353535;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: lighter;
}

.ancre {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

li,
.footer_logo {
  font-size: 16px;
}

.footer_logo {
  font-family: "Shrikhand", sans-serif;
}

.boutton {
  width: 218px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
}

.cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
}

.ville_fond_ecran {
  width: 100%;
  height: 50px;
  margin: 0px 15px 38px 0px;
}

.marge_ville {
  display: flex;
  margin: 15px 15px 0px 0px;
}

.marge_titre {
  display: flex;
  margin-left: 1px;
  text-align: center;
}

.marge_soustitre {
  margin: 25px 0px 0px 0px;
  text-align: center;
}

.boutton {
  margin-top: 35px;
}

.border_fonctionnement {
  position: relative;
  border-radius: 25px 25px 25px 25px;
  width: 100%;
  height: 50px;
  padding-top: 30px;
}

.marge_fonctionnement {
  display: flex;
  margin: 53px 0px 0px 10px;
}

.marge_carte_fonctionnement {
  display: flex;
  margin: 40px 20px 61px 20px;
  gap: 20px;
}

.cercle {
  margin: 0px 20px 0px -15px;
}

.icon_color {
  margin: 0px 20px 0px 0px;
}

.ancre {
  text-decoration: none;
}

.favoris,
.favoris1,
.favoris2,
.favoris3 {
  position: absolute;
  right: 25px;
  padding: 5px;
}

.favoris {
  bottom: -280px;
}

.favoris1 {
  bottom: -530px;
}

.favoris2 {
  bottom: -780px;
}

.favoris3 {
  bottom: -1028px;
}

.footer_logo {
  margin: 15px 0px 0px 20px;
}

.alignement_ul {
  margin-right: 0px;
  padding: 13.5px;
}

li {
  padding: 7.5px;
}

.taille_logo {
  margin: 25px 0px 12px 0px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2s;
}

.carte img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
}

.restaurant {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}

.carte {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte .carte-contenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
}

.news {
  position: absolute;
  top: 13px;
  right: 12px;
  padding: 5px;
}

.ligne {
  display: flex;
  flex-direction: row;
}

.centrer {
  display: flex;
  justify-content: center;
}

.colonne {
  display: flex;
  flex-direction: column;
}

.espace_entre {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.fond {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

@media (min-width: 320px) and (max-width: 767.99px) {
  .taille_logo {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */