@media (min-width: 320px) and (max-width: 767.99px) {
  .taille_logo {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .marge_bureau {
    margin: 0px;
  }
}

@media (min-width: 1024.1px) and (max-width: 1920px) {
  // INDEX HTML
  .marge_bureau {
    margin: 0px;
  }

  // Header
  .centrer_logo_bureau {
    margin-left: 150px;
    margin-bottom: 35px;
  }

  .marge_b_fond_bureau {
    padding-bottom: 30px;
  }

  // Main
  .marge_bureau {
    margin: 0px 0% 0% 180px;
  }

  // Fonctionnement
  .fonctionnement_bureau {
    width: 73%;
    gap: 20px;
  }

  .ligne_bureau {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 180px;
  }

  // Restaurant
  .carte_bureau {
    width: 490px;
    height: 251px;
    margin-right: 100px;
  }

  .restaurants_alignement_bureau {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 28px;
  }

  .favoris_bureau,
  .favoris1_bureau,
  .favoris2_bureau,
  .favoris3_bureau {
    margin-left: -19%;
    margin-top: 24%;
  }

  // Footer
  .logo_header_position {
    position: absolute;
    right: 5%;
  }

  .ul_bureau {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin-left: 20%;
  }

  .ul_bureau .ecart_li_bureau {
    padding-right: 10px;
  }
}

@media (min-width: 1024.1px) and (max-width: 1920px) {
  // Restaurants HTML

  // Header
  .marge_l_bureau {
    position: absolute;
    left: 20px;
  }

  .taille_fleche_bureau {
    font-size: 30px;
  }

  .taille_logo_bureau {
    width: 200px;
    height: 34px;
  }

  // Main
  .marge_main_bureau {
    margin: 0px 191px 0px 191px;
  }
  .marge_carte_bureau {
    padding: 0px 201px 0px 201px;
  }

  .titre_bureau {
    font-size: 28px;
    font-weight: bold;
  }
}
