//coeur se remplis
@keyframes fill-heart {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

// Coeur se vide
@keyframes empty-heart {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

// Mixin Arrivé des plats
@mixin slide-in($delay, $distance: 50px) {
  @keyframes slideIn {
    from {
      transform: translatex($distance);
      opacity: 0;
    }
    to {
      transform: translatex(0);
      opacity: 1;
    }
  }
  opacity: 0;
  animation: slideIn 0.5s ease-out $delay forwards;
}

// Animation choix des plats

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
