//coeur se remplis
@keyframes fill-heart {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

// Coeur se vide
@keyframes empty-heart {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

// Mixin Arrivé des plats
@mixin slide-in($delay, $distance: 50px) {
  @keyframes slideIn {
    from {
      transform: translatex($distance);
      opacity: 0;
    }
    to {
      transform: translatex(0);
      opacity: 1;
    }
  }
  opacity: 0;
  animation: slideIn 0.4s ease-out $delay forwards;
}

// Animation choix des plats

@mixin slide-in-marge_prix($delay, $distance: 50px) {
  @keyframes slideInMargePrix {
    from {
      transform: translatex($distance);
    }
    to {
      transform: translatex(100%);
    }
  }
  animation: slideInMargePrix 0.4s ease-out $delay forwards;
}

// Animation pour .square
@mixin slide-in-square($delay, $distance: 50px) {
  @keyframes slideInSquare {
    from {
      transform: translatex($distance);
    }
    to {
      transform: translatex(100%);
    }
  }
  animation: slideInSquare 0.4s ease-out $delay forwards;
}