// Entrée des menu
.slide-left_entree {
  @include slide-in(0.5s);
}
.slide-left_plat {
  @include slide-in(1s);
}
.slide-left_dessert {
  @include slide-in(1.5s);
}

//Coeur

.coeur_remplis {
  opacity: 0;
  z-index: 999;
}

.coeur_remplis:hover {
  opacity: 1;
  background-image: linear-gradient(to bottom, $fifths-color, $second-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  animation: fade-in 250ms ease-in-out;
  transition: all;
  transition: 3s;
  z-index: 0;
}

// Choix du repas

.hidden-checkbox {
  display: none;
}

.square {
  margin-top: -42px;
  display: none;
}

.hidden-checkbox:checked + .trigger-label .scale-up-hor-right {
  transform: translateX(50px);
  animation: scale-up-hor-right 0.5s ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.hidden-checkbox:checked + .trigger-label .square {
  display: block;
}

.hidden-checkbox:checked + .trigger-label .reduction_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
