// Entrée des menu
.slide-left_entree {
  @include slide-in(0.5s);
}
.slide-left_plat {
  @include slide-in(1s);
}
.slide-left_dessert {
  @include slide-in(1.5s);
}



//Coeur

.coeur_remplis {
  opacity: 0;
  z-index: 999;
}

.coeur_remplis:hover {
  opacity: 1;
  background-image: linear-gradient(to bottom, $fifths-color, $second-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  animation: fade-in 250ms ease-in-out;
  transition: all;
  transition: 3s;
  z-index: 0;
}

// Choix du repas

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.selection_plat {
  display: none;
  position: absolute;
  right: 0px;
}

.selection_plat:active {
  display: block;
  opacity: 1;
  cursor: pointer;
  animation: slide 250ms ease-in-out;
  transition: slinde-in-right 3s regular;
  transition: 3s;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
