//Boutton
.boutton {
  width: 218px;
  height: 50px;
  border-radius: 30px;
  border: none;
  text-align: center;
}

// Cercle
.cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Coeur
.like-button {
  display: none;
}

.fa-heart {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.like-button:checked + .fa-heart {
  background: linear-gradient(to bottom, $fifths-color, $second-color);
  -webkit-background-clip: text;
  background-clip: text;
}
