.boutton {
  width: 218px;
  height: 50px;
  border-radius: 30px;
  border: none;
  text-align: center;
}

.cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.checkbox-container {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .toggle-content{
  background: linear-gradient(to bottom, $fifths-color, $second-color);
  border-radius: 90%;
  overflow: hidden;
}

.like-button {
    display: none;
}

.heart-icon {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-button:checked + .heart-icon {
    background: linear-gradient(to bottom, $fifths-color, $second-color);
     -webkit-background: text;

}