//Boutton
.boutton {
  height: 50px;
  border-radius: 30px;
  border: none;
  text-align: center;
}

// Cercle
.cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// validation plats
.square {
  min-width: 59px;
  max-width: 59px;
  height: 70px;
  background-color: $third-color;
  border-radius: 0px 10px 10px 0px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: $base-color;
  line-height: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle .number {
  color: $third-color;
  font-size: 15px;
  margin-top: -15px;
  margin-left: 4px;
  font-weight: bold;
}
