$base-color: #ffffff;
$primary-color: #353535;
$second-color: #9747ff;
$third-color: #99e2d0;
$fourth-color: #7e7e7e;
$fifths-color: #ff79da;
$sixth-color: #008766;
$seventh-color: #000000;
$heighth-color: #f6f6f6;

.fond_site {
  background-color: $heighth-color;
}

a {
  color: $seventh-color;
}

.ville_fond_ecran {
  margin-bottom: 45px;
  background-color: lighten($fourth-color, 40%);
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.2);
}

.border_carte_menu,
.border_carte_fonctionnent,
.ville_fond_ecran,
.boutton {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.fond_fonctionnement,
.bande_blanche,
.border_carte_menu {
  background-color: $base-color;
}

.icon_color {
  color: $fourth-color;
  &:hover,
  &:active {
    color: $second-color;
  }
}

.boutton_color {
  background: linear-gradient(to bottom, $fifths-color, $second-color);
  color: $base-color;
}

.cercle {
  background-color: $second-color;
  color: $base-color;
}

.fond_restaurants,
.fond_menu,
.fond_menus_bis {
  background-color: $heighth-color;
}

.carte {
  background-color: $base-color;
  color: $seventh-color;
}

.news {
  background-color: $third-color;
  color: $sixth-color;
}

ul,
.color_footer,
.ancre,
.ecart_li {
  color: $base-color;
}

footer {
  background-color: $primary-color;
}

// Restaurant
.souligner_titre_menu {
  border-bottom: 1px solid $third-color;
  width: 12%;
}
