$font-stack: "Roboto", sans-serif;
$font-tittle: "Shrikhand", sans-serif;

* {
  font-family: $font-stack;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
}

.taille_sous_titre {
  font-size: 20px;
  font-weight: 300;
}

h3 {
  font-size: 18px;
}

p,
.boutton_color {
  font-size: 16px;
}

.ancre {
  font-size: 16px;
}

//coeur
.coeur_vide,
.coeur_remplis {
  font-size: 23px;
}

//footer
ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

.footer_logo {
  font-family: $font-tittle;
  font-size: 19px;
}

// Restaurants html

h1.titre {
  font-family: $font-tittle;
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
  font-weight: 400;
}
