.ville_fond_ecran {
  width: 100%;
  height: 50px;

  margin-right: 15px;
}

.border_fonctionnement {
  border-radius: 25px 25px 25px 25px;
  width: 85%;
  height: 60px;
}

.ancre {
  text-decoration: none;
}
