.ville_fond_ecran {
  width: 100%;
  height: 50px;
  margin: 0px 15px 38px 0px;
}

.marge_ville {
  display: flex;
  margin: 15px 15px 0px 0px;
}

.marge_titre {
  display: flex;
  margin-left: 1px;
  text-align: center;
}

.marge_soustitre {
  margin: 25px 0px 0px 0px;
  text-align: center;
}

.boutton {
  margin-top: 35px;
}

.marge_fonctionnement {
  display: flex;
  margin: 50px 0px 0px 10px;
  padding-top: 50px;
}

.marge_carte_fonctionnement {
  display: flex;
  margin: 20px 20px 61px 20px;
  gap: 20px;
}

.cercle {
  margin: 0px 20px 0px -10px;
}

.icon_color {
  margin: 0px 20px 0px 0px;
}

.marge_restaurants {
  margin: 15px;
}

.marge_titre_restaurants {
  margin-left: 10px;
}

.carte-contenu {
  margin-left: 15px;
  gap: 3px;
}

.favoris,
.favoris1,
.favoris2,
.favoris3 {
  position: absolute;
  right: 25px;
  padding: 5px;
}

.favoris {
  bottom: -265px;
}

.favoris1 {
  bottom: -515px;
}

.favoris2 {
  bottom: -765px;
}

.favoris3 {
  bottom: -1015px;
}

// Page des menus

.titre {
  font-family: $font-tittle;
  font-size: 28px;
  font-weight: 200;
}

.fond_menus {
  border-radius: 20px 20px;
}

.souligner_titre_menu {
  border-bottom: 1px solid $third-color;
  width: 12%;
}

.marge_menu_carte {
  margin: 15px;
  border-radius: 10px 10px;
}

.espace_text_prix {
  margin-right: auto;
  margin-left: 4%;
  margin-bottom: 5px;
}

.marge_prix_d {
  margin-right: 15px;
}