.ville_fond_ecran {
  width: 100%;
  height: 50px;
  margin: 0px 0px 38px 0px;
}

.marge_ville {
  display: flex;
  margin: 15px 0px 0px 0px;
  padding-right: 15px;
}

.marge_titre {
  display: flex;
  margin-left: 1px;
  text-align: center;
  margin: 0% 10% 0% 10%;
}

.marge_soustitre {
  margin: 15px 4.4% 25px 4.4%;
  text-align: center;
}

// Boutton
.boutton {
  margin-top: 20px;
  margin-bottom: 15px;
}

// Fonctionnement
.marge_fonctionnement {
  display: flex;
  margin: 50px 0px 0px 0px;
  padding-top: 50px;
}

.marge_carte_fonctionnement {
  display: flex;
  margin: 20px 20px 61px 20px;
  gap: 20px;
}

.cercle {
  margin: 0px 20px 0px -10px;
}

.icon_color {
  margin: 0px 20px 0px 0px;
}

// Restaurants carte
.marge_restaurants {
  margin: 15px;
  margin-bottom: 72px;
}

.marge_titre_restaurants {
  margin-left: 10px;
}

.carte-contenu {
  margin-left: 15px;
  gap: 3px;
}

.favoris,
.favoris1,
.favoris2,
.favoris3 {
  position: relative;
  top: -75px;
  right: 6%;
}

// Restaurant HTML

.marge_menu_carte {
  position: relative;
  top: -60px;
  margin: 0px 0px 0px 0px;
}

.titre {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: -15px;
}

.espace_titre_coeur {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.coeur_vide,
.coeur_remplis {
  position: absolute;
  right: 0px;
}

.deplacement_coeur_restaurants {
  position: relative;
  top: 40px;
  right: 8%;
}

.fond_menus {
  border-radius: 20px 20px 0px 0px;
  background-color: $heighth-color;
}

h3 {
  margin-top: 10px;
}

//Plats

// Menu
.marge_des_plats,
.marge_titre_repas {
  margin-left: 3%;
  margin-right: 5%;
}

.hidden-checkbox {
  display: none;
}

.square {
  display: none;
  margin-top: -38px;
  position: relative;
  right: -51px;
}

.marge_prix_d {
  display: block;
  margin-right: 20px;
  padding-top: 30px;
  position: relative;
  top: -32px;
}

.marge_prix_d1 {
  display: block;
  margin-right: 15px;
  position: relative;
}

.espace_text_prix {
  margin: 0px auto 5px 10px;
}

// Remplacement texte par des points
#moveable:active .marge_prix_d,
#moveable1:active .marge_prix_d,
#moveable2:active .marge_prix_d,
#moveable3:active .marge_prix_d,
#moveable4:active .marge_prix_d,
#moveable5:active .marge_prix_d,
#moveable6:active .marge_prix_d,
#moveable7:active .marge_prix_d,
#moveable8:active .marge_prix_d,
#moveable9:active .marge_prix_d {
  display: block;
}

#moveable:active .reduction_text,
#moveable1:active .reduction_text,
#moveable2:active .reduction_text,
#moveable3:active .reduction_text,
#moveable4:active .reduction_text,
#moveable5:active .reduction_text,
#moveable6:active .reduction_text,
#moveable7:active .reduction_text,
#moveable8:active .reduction_text,
#moveable9:active .reduction_text {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h5,
h6 {
  margin-left: 15px;
}

.marge_top_boutton {
  margin-top: -60px;
}
