.footer_logo {
  margin: 15px 0px 0px 20px;
}

.alignement_ul {
  margin-right: 0px;
  padding: 12px;
}

li {
  padding: 2px;
}

.ecart_img1_text_footer {
  margin-right: 12px;
}

.ecart_img2_text_footer {
  margin-right: 6px;
}

.marge_footer {
  padding: 5px;
}

// tablette
@media (min-width: 768px) and (max-width: 1279px) {
}

// Desktop
@media (min-width: 1280px) {
  .logo_header_position {
    position: absolute;
    right: 30px;
    margin-top: 38px;
  }

  .ul_bureau {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin-left: 40%;
    padding-bottom: -5px;
  }

  .ul_bureau .ecart_li_bureau {
    padding-right: 20px;
    padding-bottom: 0px;
  }

  ul {
    font-size: 16px;
  }
}
