.footer_logo {
  margin: 15px 0px 0px 20px;
}

.alignement_ul {
  margin-right: 0px;
  padding: 12px;
}

li {
  padding: 2px;
}

.ecart_img_text_footer {
  margin-right: 12px;
}

.marge_footer {
  padding: 5px;
}
