.taille_logo {
  width: 60%;
  margin: 30px 0% 30px -2%;
}

// header Restaurants_HTML

.taille_fleche {
  font-size: 20px;
}

.position_fleche {
  position: relative;
  top: 40%;
  left: -12%;
}

// tablette
@media (min-width: 768px) and (max-width: 1279px) {
  .centrer_logo_tablette {
    margin-left: 11%;
  }

  .taille_logo_tablette {
    width: 200px;
    height: 50px;
  }

  .position_fleche_tablette {
    position: relative;
    top: -50px;
    left: -30%;
  }
}

// Desktop
@media (min-width: 1280px) and (max-width: 1599px) {
  .centrer_logo_bureau {
    margin-left: 150px;
    margin-bottom: 35px;
  }

  .taille_logo_index {
    width: 300px;
    height: 50px;
    margin-left: -7%;
  }

  // Restaurants HTML
  .marge_b_fond_bureau {
    padding-bottom: 30px;
  }

  .marge_l_bureau {
    position: absolute;
    left: 20px;
  }

  .taille_logo_bureau {
    width: 15%;
    margin-left: 0%;
  }

  .taille_fleche_bureau {
    font-size: 30px;
    position: relative;
    top: 30%;
    left: -1300%;
  }

  .position_fleche_tablette {
    position: relative;
    margin-top: -50px;
    left: -10%;
  }
}
