.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: auto;
  animation: loaderAnimation linear 2s forwards;
}

@keyframes loaderAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader img {
  width: 80%;
  height: auto;
}
